body{background-color: #433d3c;
    }
.button {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #a99e93;
    border-color: #a99e93;
    color:#e8d3c7 !important;
    margin:.5em;
}
.button-utility {
    color:#433d3c !important;
}